{%load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>CHAT BOT</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<link rel="stylesheet", type="text/css", href="{% static "chatbot_manager/styles.css" %}"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</head>
<body onload = "scrollToBottom()">

<script language="Javascript">
    function scrollToBottom(){
   var div = document.getElementById("chatwindow");
   div.scrollTop = div.scrollHeight - div.clientHeight;
}
</script>

<div align="center" id = "wrapper">
<div class = "column">
<div class = "col-xs-12">
<div id = "chatwindow" onload = "scrollToBottom()">
<p id = "textbody">
<text id = "chattext">
{% for sentence in chat_history %}
{{sentence|safe}}<br>
{% endfor %}
</text>
</p>
</div>

<div id = "inputfield">
<form action = "/getresponse/" method = "post" id = "inputform">
<div class="input-group mb-3">
{% csrf_token %}
  <input type="text" name = "input" class="form-control" placeholder="" aria-describedby="basic-addon2" required autofocus autocomplete="off">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">SUBMIT</button>
  </div>

</form>
</div>
</div>
</div>
</div>
</body>
</html>