<!DOCTYPE html>
<html>
<style>
div {
	margin: auto;
	position: relative;
	justify-content: center;
	align-items: center;
	padding: 200px 0;
	top: 50%;
}

</style>
<head>
<title>Customer Service Bot</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div align="center" id = "wrapper">
<b><text>Customer Support Center</text></b><br>
<form action = "/getanswer/" method = "post">
{% csrf_token %}
<input type = "text" name = "question" size = 150 required> <input type = "submit" value = "Ask question"><br><br>
{% if response %}
Answer:
{{response}}
{% endif %}

</form>
</div>
</body>

<html>